###########
# Project #
###########
.idea
*.csproj
*.sln
*.DotSettings
.vs
AnimeExporter.sln.DotSettings.user

#############
# Generated #
#############
bin
obj

#############
# Temporary #
#############
*.twbr

#######
# Git #
#######
*.swp
