###########
# Project #
###########
.idea
*.csproj
*.sln
*.DotSettings
.vs

#############
# Generated #
#############
bin
Properties
obj

#############
# Temporary #
#############
*.twbr