<log4net>
    
    <root>
        <level value="ALL" />
        <appender-ref ref="console" />
        <appender-ref ref="completeHistory" />
        <appender-ref ref="latestRun" />
    </root>
    
    <appender name="console" type="log4net.Appender.ColoredConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %level %logger - %message%newline" />
        </layout>
    </appender>

    <appender name="completeHistory" type="log4net.Appender.RollingFileAppender">
        <file value="CompleteHistory.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
    </appender>

    <appender name="latestRun" type="log4net.Appender.RollingFileAppender">
        <file value="latestRun.log" />
        <appendToFile value="false" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="5" />
        <maximumFileSize value="10MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
    </appender>
    
</log4net>